body {
  padding: 60px 0 0 0;
  z-index: 0
}

.navbar-custom {
  background-color: rgba(57, 10, 10, 0.7);
  height: 60px;
  align-items: center;
}

.pink-back {
  background-color: rgb(244, 178, 178);
  border-radius: 0;
}

.pizza-back {
  background-image: url('https://images.unsplash.com/photo-1490717064594-3bd2c4081693?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80');
  width: 85%;
  height: 500px;
  margin-bottom: 2%;
  background-size: cover;
  background-position: right;
}

.over-text {
  text-align: center;
  position: relative;
  right: -75px;
  top: 20px;
  color: rgb(244, 178, 178);
  background-color: black;
  padding: 40px 30px;
  border: 6px solid rgb(244, 178, 178);
  border-radius: 50%;
}